<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Messenger</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bower/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="bower/components-font-awesome/css/fontawesome-all.min.css">

    <script src="bower/jquery/dist/jquery.min.js"></script>
    <script src="bower/popper.js/dist/popper.min.js"></script>
    <script src="bower/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="socket.io/socket.io.js"></script>
</head>

<body>
    {{{body}}}
</body>

</html>